body {
max-width: 800px;
margin: 40px auto;
padding: 20px;
font-family: serif;
line-height: 1.8;
}

h1 {
text-align: center;
}

button {
padding: 12px 24px;
font-size: 18px;
cursor: pointer;
}

.certificate {
border: 6px double #999;
padding: 60px;
margin-top: 40px;
background: #fff;
}

.certificate h1 {
margin-bottom: 60px;
}

.certificate-image {

background-image: url("certificate-base.png");

background-size: contain;
background-repeat: no-repeat;

width: 700px;
height: 900px;

margin: 0 auto;

padding: 90px 90px 140px 90px;

box-sizing: border-box;
}

/* 賞状本体 */

.certificate-main {

width: 100%;

text-align: center;

display: flex;
flex-direction: column;
align-items: center;
}

/* タイトル */

.certificate-main h1 {

font-size: 48px;

margin-bottom: 40px;
}

/* 証書番号 */

#certificateNo {

font-size: 20px;

margin-bottom: 40px;
}

/* 名前 */

#nameText {
font-size: 18px;
font-weight: bold;

max-width: 380px;

margin: 30px auto;

line-height: 1.8;

word-break: break-word;
overflow-wrap: break-word;
}

/* 願望 */

#wishText {
font-size: 22px;
font-weight: bold;

max-width: 380px;

margin: 40px auto;

line-height: 1.8;

word-break: break-word;
overflow-wrap: break-word;
}

/* 本文 */

.certificate-text {
  
font-size: 18px;
  
margin-top: 40px;
  
}

/* 発行日 */

.issue-date {
  
margin-top: 60px;
  
text-align: center;
  
}

/* 発行局 */

.issuer {
  
text-align: center;
  
margin-top: 20px;
  
}

/* URL */

.site-url {
  
font-size: 12px;
  
text-align: center;
  
margin-top: 15px;
  
}
